@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .widget-title {
    @apply text-mobile-widgetTitle md:text-tablet-widgetTitle lg:text-desktop-widgetTitle font-mobile-widgetTitle md:font-tablet-widgetTitle lg:font-desktop-widgetTitle
  }
  .calls-to-action-text {
    @apply text-mobile-callsToActionText md:text-tablet-callsToActionText lg:text-desktop-callsToActionText font-mobile-callsToActionText md:font-tablet-callsToActionText lg:font-desktop-callsToActionText
  }
  .product-card-title {
    @apply text-mobile-productCardTitle md:text-tablet-productCardTitle lg:text-desktop-productCardTitle font-mobile-productCardTitle md:font-tablet-productCardTitle lg:font-desktop-productCardTitle
  }
  .product-card-price {
    @apply text-mobile-productCardPrice md:text-tablet-productCardPrice lg:text-desktop-productCardPrice font-mobile-productCardPrice md:font-tablet-productCardPrice lg:font-desktop-productCardPrice
  }
  .search-bar-text {
    @apply text-mobile-searchBarText md:text-tablet-searchBarText lg:text-desktop-searchBarText font-mobile-searchBarText md:font-tablet-searchBarText lg:font-desktop-searchBarText
  }
}

.center-slick-track {
  transform: unset !important;
}